///* ========================================================================
//   #THEME COLOURS
//   ======================================================================== */

  // THEME SPECIFIC Colours

$c-primary: #CCCCCC;
$c-primary-light: lighten($c-primary, 10%);
$c-primary-dark: darken($c-primary, 15%);

$c-secondary: #FBA82A;
$c-secondary-light: lighten($c-secondary, 10%);
$c-secondary-dark: darken($c-secondary, 15%);

$c-tertiary: #231F20;
$c-tertiary-light: lighten($c-tertiary, 10%);
$c-tertiary-dark: darken($c-tertiary, 15%);